#folders
inp
out
dat

#params file at out folder
out/*/params.py
*/img/params.py
*/sat/params.py

#binary files
*.one
*.bin

#fortan excutbles
make_restart
make_restart_dis
data_assim
data_assim_dis
calc_stat
*.so
*.o
*.mod

#img/bin
*print_flddpth*
*print_flddpth.o
*print_grid*
*print_grid.o
*print_rivvec
*print_rivvec.o
*txt_vector
*txt_vector.o

#.pyc files
*.pyc

#PBS oe files
HydroDA*.o*
HydroDA.o*
*/sfcelv_mean.o*

#figures
*.png
*.jpg

#text files
*.txt

#log files
*.log

#temporary opened files
*.swp
*.swo

#vscode
.vscode

#.linux files
*/._Makefile

# VS code 
*/.vscode

# unnessary f90
src/data_assim_old.f90