#folders
inp
out
dat

#params file at out folder
out/*/params.py
*/img/params.py
*/sat/params.py

#binary files
*.one
*.bin

#fortan excutbles
make_restart
data_assim
calc_stat

#.pyc files
*.pyc

#PBS oe files
HydroDA*.o*
HydroDA.o*

#figures
*.png
*.jpg

#text files
*.txt

#log files
*.log

#temporary opened files
*.swp
*.swo

#vscode
.vscode